<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Profile</h3>
                  <hr>    
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <img src="{{imgProfile}}" class="rounded-circle" style="width:100%" alt="{{fullname}}"/>
                </div>
                <div class="col-sm-1" style="border-right: 1px solid grey;"></div>
                <div class="col-sm-3">
                  <p>CARD ID:  <b>{{currentUser.card | uppercase}}</b></p>
                  <p>FIRSTNAME:  <b>{{currentUser.firstname | uppercase}}</b></p>
                  <p>LASTNAME:  <b>{{currentUser.lastname | uppercase}}</b></p>
                  <p>AGE:  <b>{{age}}</b></p>
                </div>
                <div class="col-sm-3">
                  <p>GENDER:  <b>{{currentUser.gender | uppercase}}</b></p>
                  <p>ADDRESS:  <b>{{currentUser.address | uppercase}}</b></p>
                  <p>ACADEMY:  <b>{{currentUser.academy | uppercase}}</b></p>
                  <p>EDUCATIONAL LEVEL:  <b>{{currentUser.edu | uppercase}}</b></p>
                </div>
                <div class="col-sm-1"></div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>